.grid-container {
  display: grid;
  grid-template-columns: 0.2fr 1.6fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 0px 0px;
  grid-template-areas: "menu-top menu-top" "menu-left contenido";
}

.menu-left {
  grid-area: menu-left;
  height: 100vh;
}

.menu-top {
  grid-area: menu-top;
}

.contenido {
  grid-area: contenido;
  padding: 2rem;
}
